<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topk-Threshold</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <h1>Top-k Threshold algorithm</h1>
    <div class="container-fluid">
        <form action="/" method="GET">
            <fieldset class="input-group mb-3">
                <legend>Choose your attributes:</legend>
                {% for col in columns[2:6] %}
                <div class="form-group" style="margin-right: 10px">
                    <div class="form-check">
                        {% if col in request.args.getlist('vid_attr') %}
                        <input name="vid_attr" class="form-check-input" type="checkbox" value="{{col}}" checked>
                        {% else %}
                        <input  name="vid_attr" class="form-check-input" type="checkbox" value="{{col}}">
                        {% endif %}
                        <label class="form-check-label">{{col}}</label>
                    </div>
                </div>
                {% endfor %}
            </fieldset>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="aggr_func">Aggregate function options</label>
                </div>
                <select name="aggr_func" id="aggr_func" class="form-select" aria-label="">
                    {% if request.args.get("aggr_func") == "max" %}
                        <option selected value="max">Max</option>
                    {% else %}
                        <option value="max">Max</option>
                    {% endif %}
                    {% if request.args.get("aggr_func") == "mean" %}
                        <option selected value="mean">Average</option>
                        {% else %}
                        <option value="mean">Average</option>
                    {% endif %}
                    {% if request.args.get("aggr_func") == "min" %}
                        <option selected value="min">Min</option>
                        {% else %}
                        <option value="min">Min</option>
                    {% endif %}
                </select>

                <div class="input-group-prepend">
                    <label class="input-group-text" for="algo_select">Query method options</label>
                </div>
                <select name="algo_select" id="algo_select" class="form-select" aria-label="">
                    {% if request.args.get("algo_select") == "threshold" %}
                        <option selected value="threshold">Threshold</option>
                    {% else %}
                        <option value="threshold">Threshold</option>
                    {% endif %}
                    {% if request.args.get("algo_select") == "naive" %}
                        <option selected value="naive">Naive</option>
                    {% else %}
                        <option value="naive">Naive</option>
                    {% endif %}
                    </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="k-amount">Rows amount</label>
                </div>
                <input type="number" class="form-control" id="k-amount" value="{{rows_amount}}" name="rows-amount" placeholder="Number of rows">
            </div>

            <div class="input-group mb-3" style="float: right">
                <button class="btn btn-primary" type="submit" >Submit</button>
            </div>
        </form>

         <table class="table table-dark table-striped-columns mt-5">
          <thead>
            <tr class="table-primary" >
                {% for column in columns %}
                  <th>{{ column }}</th>
                {% endfor %}
                <th>aggr_val</th>
            </tr>
          </thead>
          <tbody>
              {% for vid in data %}
               <tr>
                   <th>{{ vid.title }}</th>
                   <th>{{ vid.channel_title }}</th>
                   <th>{{ vid.views }}</th>
                   <th>{{ vid.likes }}</th>
                   <th>{{ vid.dislikes }}</th>
                   <th>{{ vid.comment_count }}</th>
                   <th>{{ vid.aggr_val }}</th>
               </tr>
              {% endfor %}
          </tbody>
        </table>
    
        <!-- <p>Top K search took {{ time_elapsed }} seconds</p> -->
        <p>Data source was queried {{ access_cnt }} times</p>
    </div>

</body>

</html>